<ul>
  <h1>Committees in the House</h1>
  {{#each model as |committee|}}
    <li> <p>Name: {{#link-to 'subcommittee-house' committee.committee_id}}{{committee.name}}{{/link-to}}</p><p>Office: {{committee.office}}</p><p>Phone: {{committee.phone}}</p><p>Committee ID: {{committee.committee_id}}</p></li>
    <hr>
  {{/each}}
</ul>
